@use 'config' as *;

/**Develop Styles*/

body {
  background-color: $body-color;
  font-family: $fam-font;
}

.join__us__ct {
  & > * {
    color: $brand-color;
  }
  display: flex;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
    font-size: $fs-big;
    font-weight: $fw-bolder;
    margin-bottom: 10px;
  }
  span {
    font-size: $fs-small;
    font-weight: $fw-medium;
    margin-bottom: 20px;
  }

  button {
    width: fit-content;
    text-transform: uppercase;
    font-size: $fs-normal;
    color: $body-color;
    background-color: $action-color;
    border-radius: 22px;
  }
}
//*******************

.opinions__ct {
  video {
    border-radius: 10px;
  }
}

//******
.modalidades__ct {
  display: flex;
  flex-direction: column;
  & > * {
    color: $brand-color;
  }
  h1 {
    font-size: $fs-big;
    font-weight: $fw-bolder;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  span {
    font-size: $fs-normal;
    margin-bottom: 10px;
  }

  button {
    background-color: $action-color;
    color: $body-color;
    text-transform: uppercase;
    font-weight: $fw-bold;
    width: fit-content;
    border-radius: 22px;
    margin-bottom: 80px;
  }

  .form__wrapper {
    margin: 0 auto;

    p > * {
      font-size: $fs-normal;
      color: $brand-color;
    }

    p {
      margin-bottom: 20px;
    }

    form {
      .input__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        :nth-child(1),
        :nth-child(2) {
          width: 100%;
          border-radius: 5px;
          border: none;
          padding: 5px 0;
          color: $body-color;
          &:focus {
            outline: 1.5px solid $action-color;
          }
        }

        textarea{
          display: block;
          border-radius: 5px;
          width: 100%;
          border: 1px solid $action-color !important;

          &:focus {
            outline: 1.5px solid $action-color !important;
          }
        }
      }
    }
  }
}

//***********
