/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
/*=============== RESET STYLES ===============*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Z index ==========*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/* For medium devices */
@media screen and (min-width: 767px) {
  .video__wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  form .input__wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__ft {
    display: flex !important;
    justify-content: space-around;
    width: 100%;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
  }
  nav .brand__nav__logo {
    font-size: 3rem !important;
  }
  nav .nav__links,
nav .btn__nav {
    display: flex !important;
  }
  nav .burguer__menu {
    display: none;
  }
  nav .nav__links {
    display: flex;
    gap: 30px;
  }
  nav .nav__links a {
    font-size: 1.5rem;
  }
  nav .nav__links a:hover {
    color: #a3333d;
  }
  nav .btn__nav {
    background-color: #a3333d !important;
    display: flex;
    align-items: center;
    border-radius: 22px;
    gap: 10px;
    position: relative;
  }
  nav .btn__nav:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #a3333d;
    border-radius: 22px;
    z-index: -2;
  }
  nav .btn__nav:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: #692127;
    transition: all 0.3s;
    border-radius: 22px;
    z-index: -1;
  }
  nav .btn__nav:hover {
    color: #ffffff;
  }
  nav .btn__nav:hover:before {
    width: 100%;
  }
  nav .btn__nav span {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .header__grid__wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .header__grid__wrapper .header__lead h2 {
    font-size: 2.8rem !important;
  }
  .header__grid__wrapper .header__bottom h2 {
    font-size: 1.8rem;
  }

  .join__us__ct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join__us__ct h1 {
    font-size: 2rem !important;
  }
  .join__us__ct span {
    font-size: 1.2rem !important;
  }

  .flex__ct__modalidades {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex__ct__modalidades h1 {
    font-size: 2rem !important;
  }
  .flex__ct__modalidades span {
    font-size: 1.2rem !important;
  }

  .form__wrapper p {
    text-align: center;
    font-size: 1.1rem !important;
  }
}
/*=============== GENERAL STYLES===============*/
body {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1,
h2 {
  font-size: 1.5rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 25px;
}

.section {
  padding: 4.5rem 0 1rem;
}

.blog-post {
  width: clamp(45ch, 50%, 75ch);
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.flow > * + * {
  margin-bottom: 1rem;
}

.padding-24 {
  padding: 1.5rem;
}

.padding-48 {
  padding: 3rem;
}

.br-1 {
  border-radius: 0.5rem;
}

.br-2 {
  border-radius: 1rem;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #923cb5;
  background-image: linear-gradient(147deg, #802028 0%, #000000 74%);
}

.header__ct {
  padding: 20px 25px;
}
.header__ct > *,
.header__ct a {
  color: #ffffff;
}
.header__ct nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
.header__ct nav .brand__nav__logo {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}
.header__ct nav .burguer__menu {
  font-size: 1.5rem;
}
.header__ct nav .nav__links,
.header__ct nav .btn__nav {
  display: none;
}
.header__ct .header__lead {
  margin-bottom: 50px;
}
.header__ct .header__lead h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.header__ct .header__lead .logos__lead {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}
.header__ct .header__lead .logos__lead a:hover {
  color: #a3333d;
}
.header__ct .header__bottom h2 {
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2px;
}
.header__ct .header__bottom h2 span {
  color: #a3333d;
}
.header__ct .header__bottom a {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}
.header__ct .header__bottom a i {
  color: #a3333d;
}
.header__ct .header__bottom a span {
  font-size: 0.938rem;
}
.header__ct .header__bottom button {
  background-color: #a3333d;
  color: #000000;
  border-radius: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.938rem;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

/****** MOBILE NAVIGATION *****/
.nav__menu__mobile {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: -50%;
  height: 100%;
  width: 20ch;
  transition: all 0.5s ease-in-out;
}
.nav__menu__mobile i {
  color: #a3333d;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  padding-right: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.nav__menu__mobile .nav__links__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 80px 20px 0;
}
.nav__menu__mobile .nav__links__wrapper a {
  color: #a3333d;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav__menu__mobile .nav__links__wrapper a:hover {
  -webkit-text-decoration: underline 2px solid #000000;
          text-decoration: underline 2px solid #000000;
}

/******ALL FILES TO IMPORT*****/
/**Develop Styles*/
body {
  background-color: #000000;
  font-family: "Frank Ruhl Libre", serif;
}

.join__us__ct {
  display: flex;
  flex-direction: column;
}
.join__us__ct > * {
  color: #ffffff;
}
.join__us__ct h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.join__us__ct span {
  font-size: 0.938rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.join__us__ct button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.938rem;
  font-weight: 700;
  color: #000000;
  background-color: #a3333d;
  border-radius: 22px;
}

.opinions__ct .video__wrapper .video video {
  border-radius: 10px;
}

.modalidades__ct {
  display: flex;
  flex-direction: column;
}
.modalidades__ct .flex__ct__modalidades {
  display: flex;
  flex-direction: column;
}
.modalidades__ct > * {
  color: #ffffff;
}
.modalidades__ct h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modalidades__ct span {
  font-size: 0.938rem;
  margin-bottom: 10px;
}
.modalidades__ct button {
  background-color: #a3333d;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 22px;
  margin-bottom: 100px;
}
.modalidades__ct .form__wrapper p > * {
  font-size: 0.938rem;
  color: #ffffff;
}
.modalidades__ct .form__wrapper p {
  margin-bottom: 20px;
}
.modalidades__ct .form__wrapper form .input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.modalidades__ct .form__wrapper form .input__wrapper :nth-child(1),
.modalidades__ct .form__wrapper form .input__wrapper :nth-child(2) {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  color: #000000;
}
.modalidades__ct .form__wrapper form .input__wrapper :nth-child(1):focus,
.modalidades__ct .form__wrapper form .input__wrapper :nth-child(2):focus {
  outline: 1.5px solid #a3333d;
}
.modalidades__ct .form__wrapper form textarea {
  border-radius: 5px;
  width: 100%;
  min-height: 100px;
  border: none;
  outline: 1px solid #a3333d !important;
  margin-bottom: 15px;
}
.modalidades__ct .form__wrapper form textarea:focus {
  outline: 1px solid #a3333d !important;
}
.modalidades__ct .form__wrapper form button {
  display: block;
  margin: 0 auto;
}

footer {
  padding-top: 10px !important;
  background-color: #a3333d;
}
footer > *,
footer a {
  color: #ffffff;
  font-size: 0.938rem;
}
footer .footer__wrapper {
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
footer .footer__wrapper .grid_item {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__wrapper .grid_item h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
footer .footer__wrapper .grid_item a {
  font-size: 0.813rem;
}
footer .footer__wrapper .grid_item a:hover {
  color: #000000;
}
footer .footer__wrapper .brand__logo h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5px;
}
footer .footer__wrapper .brand__logo .socials {
  display: flex;
  gap: 15px;
}
footer .footer__wrapper .brand__logo .socials i {
  font-size: 1.2rem;
  cursor: pointer;
}
footer .footer__wrapper .brand__logo .socials i:hover {
  color: #000000;
}

.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
  color: #00aced;
}

/* .fa-google-plus,
.fa-google-plus-square {
  color: #dd4b39;
} */
.fa-youtube,
.fa-youtube-play,
.fa-youtube-square {
  color: #bb0000;
}

/* .fa-tumblr,
.fa-tumblr-square {
  color: #32506d;
} */
/* .fa-vine {
  color: #00bf8f;
}
.fa-flickr {
  color: #ff0084;
}
.fa-vimeo-square {
  color: #aad450;
}
.fa-pinterest,
.fa-pinterest-square {
  color: #cb2027;
} */
/* .fa-linkedin,
.fa-linkedin-square {
  color: #007bb6;
} */
.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* .fa-spotify {
  color: #1ed760;
}
 *//*# sourceMappingURL=styles.css.map */